In [55]:
import pandas as pd
import random
from datetime import timedelta

#Planned Order Release Date sÃ¼tununu datetime formatÄ±na Ã§evirelim
df_stock["Planned Order Release Date"] = pd.to_datetime(df_stock["Planned Order Release Date"], errors="coerce")

#Kategorilere gÃ¶re raf Ã¶mrÃ¼ (gÃ¼n cinsinden)
expiration_rules = {
    "BEBEK": (180, 730),
    "DETERJAN TEMÄ°ZLÄ°K": (365, 1825),
    "ET TAVUK": (2, 7),
    "EV": (365, 1825),
    "GIDA": (30, 365),
    "KAÄžIT": (365, 1825),
    "KOZMETÄ°K": (180, 730),
    "MEYVE SEBZE": (3, 14),
    "PET": (90, 365),
    "SÃœT KAHVALTILIK": (7, 30),
    "SÄ°GARA": (365, 1825),
    "Ä°Ã‡ECEK": (90, 365)
}

# Son tÃ¼ketim tarihini hesaplayan fonksiyon
def calculate_expiration_date(row):
    category = row.get("CATEGORY_NAME1", "")

    # ðŸ“Œ EÄŸer kategori boÅŸ veya NaN ise, boÅŸ string olarak ata
    if pd.isna(category) or not isinstance(category, str):
        return None  # ðŸ”¹ EÄŸer kategori yoksa SKT hesaplanmayacak

    category = category.strip().upper()  # ðŸ”¹ Kategoriyi normalize et
    stock_date = row["Planned Order Release Date"]  # ðŸ”¹ StoÄŸa giriÅŸ tarihi

    if pd.isna(stock_date):  # ðŸ”¹ EÄŸer stoÄŸa giriÅŸ tarihi boÅŸsa SKT de boÅŸ olacak
        return None  

    # Kategoriye gÃ¶re rastgele raf Ã¶mrÃ¼ belirleme
    min_days, max_days = expiration_rules.get(category, (30, 365))  # ðŸ”¹ VarsayÄ±lan 30-365 gÃ¼n
    expiration_date = stock_date + timedelta(days=random.randint(min_days, max_days))

    return expiration_date.strftime("%Y-%m-%d")

#SKT'yi hesaplayÄ±p yeni sÃ¼tun olarak ekleyelim
df_stock["expiration_date"] = df_stock.apply(calculate_expiration_date, axis=1)

#GÃ¼ncellenmiÅŸ stok verisini tekrar kaydedelim
#df.to_csv("ime_market/Stock_with_SKT.csv", index=False)

# Ä°lk birkaÃ§ satÄ±rÄ± gÃ¶rÃ¼ntÃ¼leyelim
print(df_stock.head())

   MagzaID  ITEMCODE  Week  Year  Weekly Demand  Projected On Hand  \
0        5      5863     1  2024            0.0                  0
1        5      5863     1  2024            0.0                  0
2        5      5863     1  2024            0.0                  0
3        5      5863     2  2024            0.0                  0
4        5      5863     2  2024            0.0                  0

   Net Requirements  Planned Order Receipts  Planned Order Releases  \
0               0.0                     0.0                     0.0
1               0.0                     0.0                     0.0
2               0.0                     0.0                     0.0
3               0.0                     0.0                     0.0
4               0.0                     0.0                     0.0

  Planned Order Receipt Date Planned Order Release Date CATEGORY_NAME1  \
0                        NaN                        NaT         Ä°Ã‡ECEK
1                        NaN                        NaT         Ä°Ã‡ECEK
2                        NaN                        NaT         Ä°Ã‡ECEK
3                        NaN                        NaT         Ä°Ã‡ECEK
4                        NaN                        NaT         Ä°Ã‡ECEK

  expiration_date
0            None
1            None
2            None
3            None
4            None

In [65]:
aa=df_stock.drop(columns=["CATEGORY_NAME1"])

In [71]:
aa.to_csv("skt.csv",index=False)

In [51]:
df_stock.merge(df_category, on="ITEMCODE")

,MagzaID,ITEMCODE,Week,Year,Weekly Demand,Projected On Hand,Net Requirements,Planned Order Receipts,Planned Order Releases,Planned Order Receipt Date,Planned Order Release Date,CATEGORY_NAME1_x,CATEGORY_NAME1_y
0,5,5863,1,2024,0.0,0,0.0,0.0,0.0,NaN,NaT,Ä°Ã‡ECEK,Ä°Ã‡ECEK
1,5,5863,1,2024,0.0,0,0.0,0.0,0.0,NaN,NaT,Ä°Ã‡ECEK,Ä°Ã‡ECEK
2,5,5863,1,2024,0.0,0,0.0,0.0,0.0,NaN,NaT,Ä°Ã‡ECEK,Ä°Ã‡ECEK
3,5,5863,1,2024,0.0,0,0.0,0.0,0.0,NaN,NaT,Ä°Ã‡ECEK,Ä°Ã‡ECEK
4,5,5863,1,2024,0.0,0,0.0,0.0,0.0,NaN,NaT,Ä°Ã‡ECEK,Ä°Ã‡ECEK
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103722679,5,23389,48,2024,1.0,0,1.0,1.0,1.0,2024-11-25,2024-11-18,BEBEK,BEBEK
103722680,5,23389,49,2024,0.0,0,0.0,0.0,0.0,NaN,NaT,BEBEK,BEBEK
103722681,5,23389,50,2024,0.0,0,0.0,0.0,0.0,NaN,NaT,BEBEK,BEBEK
103722682,5,23389,51,2024,0.0,0,0.0,0.0,0.0,NaN,NaT,BEBEK,BEBEK
103722683,5,23389,52,2024,0.0,0,0.0,0.0,0.0,NaN,NaT,BEBEK,BEBEK

In [21]:
import pandas as pd
import random
from datetime import datetime, timedelta

# ðŸ“Œ Dosya yollarÄ±nÄ± belirleyin
stock_file_path = "ime_market/Stock.csv"
category_file_path = "ime_market/aaaaaa_nnew.xlsx"

# ðŸ“Œ Stock.csv'yi yÃ¼kleyelim (StoÄŸa geliÅŸ tarihleri iÃ§in)
df_stock = pd.read_csv(stock_file_path, usecols=["ITEMCODE", "Planned Order Release Date"])

# ðŸ“Œ Planned Order Release Date sÃ¼tununu datetime formatÄ±na Ã§evirelim
df_stock["Planned Order Release Date"] = pd.to_datetime(df_stock["Planned Order Release Date"], errors="coerce")

# ðŸ“Œ aaaaaa.xlsx dosyasÄ±ndan sadece ITEMCODE ve CATEGORY_NAME1 sÃ¼tunlarÄ±nÄ± alarak yÃ¼kleyelim (Ä°lk 10.000 satÄ±r)
df_category = pd.read_excel(category_file_path, sheet_name="Sheet1", usecols=["ITEMCODE", "CATEGORY_NAME1"], nrows=10000)

# ðŸ“Œ Stock ve kategori bilgilerini ITEMCODE Ã¼zerinden birleÅŸtirelim
df_merged = df_stock.merge(df_category, on="ITEMCODE", how="left")

# ðŸ“Œ SADECE "Planned Order Release Date" sÃ¼tunu DOLU olanlarÄ± alalÄ±m
df_valid_dates = df_merged.dropna(subset=["Planned Order Release Date"]).copy()

# ðŸ“Œ Kategorilere gÃ¶re raf Ã¶mrÃ¼ (gÃ¼n cinsinden)
expiration_rules = {
    "BEBEK": (180, 730),
    "DETERJAN TEMÄ°ZLÄ°K": (365, 1825),
    "ET TAVUK": (2, 7),
    "EV": (365, 1825),
    "GIDA": (30, 365),
    "KAÄžIT": (365, 1825),
    "KOZMETÄ°K": (180, 730),
    "MEYVE SEBZE": (3, 14),
    "PET": (90, 365),
    "SÃœT KAHVALTILIK": (7, 30),
    "SÄ°GARA": (365, 1825),
    "Ä°Ã‡ECEK": (90, 365)
}

# ðŸ“Œ StoÄŸa geliÅŸ tarihine gÃ¶re son kullanma tarihini hesaplayan fonksiyon
def calculate_expiration_date(row):
    category = row.get("CATEGORY_NAME1", "")

    # ðŸ“Œ EÄŸer kategori NaN veya sayÄ±salsa, boÅŸ string olarak ata
    if pd.isna(category) or not isinstance(category, str):
        category = ""

    category = category.strip().upper()  # Normalize et
    stock_date = row["Planned Order Release Date"]

    # ðŸ“Œ Kategori bazlÄ± raf Ã¶mrÃ¼ belirleme
    min_days, max_days = expiration_rules.get(category, (30, 365))  # VarsayÄ±lan 30-365 gÃ¼n
    expiration_date = stock_date + timedelta(days=random.randint(min_days, max_days))

    return expiration_date.strftime("%Y-%m-%d")

# ðŸ“Œ SADECE TARÄ°HÄ° OLANLARA SKT ATAMA YAPALIM
df_valid_dates["expiration_date"] = df_valid_dates.apply(calculate_expiration_date, axis=1)

# ðŸ“Œ GÃ¼ncellenmiÅŸ tabloyu CSV olarak kaydet
df_valid_dates.to_csv("updated_stock_with_skt.csv", index=False)

# ðŸ“Œ Ä°lk birkaÃ§ satÄ±rÄ± gÃ¶rÃ¼ntÃ¼le
print(df_valid_dates.head())

    ITEMCODE Planned Order Release Date CATEGORY_NAME1 expiration_date
18      5863                 2024-02-05         Ä°Ã‡ECEK      2024-09-14
19      5863                 2024-02-05         Ä°Ã‡ECEK      2024-08-18
20      5863                 2024-02-05         Ä°Ã‡ECEK      2024-10-20
24      5863                 2024-02-19         Ä°Ã‡ECEK      2024-06-29
25      5863                 2024-02-19         Ä°Ã‡ECEK      2024-11-08

In [49]:
df_merged

         ITEMCODE Planned Order Release Date CATEGORY_NAME1
0            5863                        NaN         Ä°Ã‡ECEK
1            5863                        NaN         Ä°Ã‡ECEK
2            5863                        NaN         Ä°Ã‡ECEK
3            5863                        NaN         Ä°Ã‡ECEK
4            5863                        NaN         Ä°Ã‡ECEK
...           ...                        ...            ...
4844783     14305                        NaN            NaN
4844784     14305                        NaN            NaN
4844785     14305                        NaN            NaN
4844786     14305                        NaN            NaN
4844787     14305                        NaN            NaN

[4844788 rows x 3 columns]

In [ ]:
# Yeni veri seti iÃ§in satÄ±r sayÄ±sÄ±nÄ± belirleme
new_rows = len(df) * 2

# 2024 yÄ±lÄ± iÃ§inde rastgele tarih atama
random_dates = pd.date_range(start="2024-01-01", end="2024-12-31", periods=new_rows).strftime('%Y-%m-%d')

# ITEMCODE deÄŸerlerini mevcut veri setinden rastgele seÃ§me
random_itemcodes = np.random.choice(df["ITEMCODE"].unique(), new_rows, replace=True)

# PRICE ve AMOUNT deÄŸerlerini Ã§oÄŸaltma
random_prices = np.random.normal(df["PRICE"].mean(), df["PRICE"].std(), new_rows)
random_prices = np.clip(random_prices, df["PRICE"].min(), df["PRICE"].max())

random_amounts = np.random.normal(df["AMOUNT"].mean(), df["AMOUNT"].std(), new_rows)
random_amounts = np.clip(random_amounts, df["AMOUNT"].min(), df["AMOUNT"].max())

# Yeni veri setini oluÅŸturma
new_df = pd.DataFrame({
    "DATE": random_dates,
    "ITEMCODE": random_itemcodes,
    "AMOUNT": random_amounts,
    "PRICE": random_prices
})